*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
/app/src/main/java/com/barisic/news/util/KeyGenerator.kt
/gradle/
/app/build/
/.idea/
/app/src/main/res/xml/keys.xml
